<h1>Portfolio</h1>

<%= @portfols.each do |portfol| %>
  <p><%= portfol.title %></p>
  <p><%= portfol.subtitle %></p>
  <p><%= portfol.body %></p>
  <p><%= image_tag(portfol.thumb_image) if portfol.thumb_image%></p>

<% end %>
