<h1>Rails Portfolio</h1>

<a href="portfols/new">Create New Item</a>

<% @portfols.each do |portfol| %>
  <p><%= link_to portfol.title, portfol_path(portfol) %></p>
  <p><%= portfol.subtitle %></p>
  <p><%= portfol.body %></p>
  <p><%= image_tag(portfol.thumb_image) if portfol.thumb_image%></p>
  <%= link_to "Edit", edit_portfol_path(portfol ) %>
  <%= link_to "Delete", portfol_url(portfol), method: :delete, data: {confirm: "Are you sure?"} %>

<% end %>
