<%= image_tag @portfol.main_image %>

<h1> <%= @portfol.title %></h1>

<em><%= @portfol.subtitle %></em>

<p> <%= @portfol.body %> </p>

<h2>Technology Used:</h2>

<% @portfol.technologies.each do |tech| %>
<p><%= tech.name %></p>
<% end %>


<%= session.inspect %>
