<header>
  <div class="inner">
    <h3 class="masthead-brand">Joungwoo Baik</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to "Home", root_path, class:"nav-link active"%>
      <%= link_to "About Me", pages_about_path, class:"nav-link"%>
      <%= link_to "Contact", pages_contact_path, class:"nav-link"%>
      <%= link_to "Blog", blogs_path, class:"nav-link"%>
      <%= link_to "Portfolio", portfols_path, class:"nav-link"%>
      <%= login_helper("nav-link") %>
    </nav>
  </div>
</header>
